html,
body {
	width: 100%;
	height: 100%;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.newpage1{
	position:relative;width:100%;height:100%;
}
.newpage2{
	position:absolute;top:0;left:0;width:100%;height:37px;
}
.newpage3{
	color:#3399FF;font-size:17px;
}
.newpage4{
	font-size:18px;line-height:18px;cursor:pointer;margin-right:10px;
}
.newpage5{
	position:absolute;top:0px;bottom:70px;width:100%;padding:10px;padding-bottom:0;
}
.newpage6{
	width:100%;height:100%;
}
.newpage7{
	width:100%;height:100%;
}
.newpage8{
	width:100%;height:100%;padding:20px;
}
.newpage9{
	height:35px;line-height:35px;margin-bottom:10px;
}
.newpage10{
	float:left;width:148px;margin-right:10px;
}
.newpage11{
	float:left;width:148px;height:181px;margin-right:10px;border:1px solid #CCCCCC;cursor:pointer;
}
.newpage12{
	width:100%;height:151px;text-align:center;
}
.newpage13{
	width:100%;height:100%;padding-top:50px;
}
.newpage14{
	width:42px;
}
.newpage15{
	text-align:center;line-height:30px;
}
.newpage16{
	width:100%;height:30px;line-height:30px;padding-right:10px;
}
.newpage17{
	float:left;width:50%;height:100%;padding-left:10px;
}
.newpage18{
	width:100%;height:100%;padding:0;padding-top:20px;
}
.newpage19{
	display:table;width:100%;
}
.newpage20{
	display:table-row
}
.newpage20:nth-of-type(2n) {
    background-color: #f9f9f9;
}

.control-label {
    margin-top: 8px!important;
    text-align:right;
}
.newpage21{
	display:table-cell;width:120px;text-align:left;padding-left:10px;vertical-align:middle;
}
.newpage22{
	display:table-cell;height:50px;vertical-align:middle;padding-right:20px;text-align:center;
}
.newpage23{
	position:absolute;bottom:0;width:100%;height:70px;text-align:center;line-height:70px;
}
.newpage24{
	color:#999999;
}
.dropdown-menu {
	min-width: 210px;
}
.datetimepicker table {
    margin: 0 auto;
}


