html,
body {
	width: 100%;
	height: 100%;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
	font-size:16px;
	color:#000!important;
}

* {
	box-sizing: border-box;
}
.active{
	background-color: #B7E8FF;
	text-decoration: none;
}
.headbox{
	position:absolute;
	top:0px;
	width:100%;
	height:62px;
}
.mainbox{
	width:100%;
	height:100%;
	padding-top:62px;
}
.left_content{
	width:256px;height:100%;
	position:absolute;
	top:0;
	left:0;
	border-right:1px solid #E4E4E4;
}
.suowrap{
	position:absolute;
	top:50%;
	margin-top:-25px;
	left:256px;
	height:50px;
	line-height:50px;
	width:20px;
	background-color:#CCC;
	cursor:pointer;
	z-index:2;
}
.style5 i {
    cursor: pointer;
    color: #999999;
    font-size: 20px !important;
}
.left-title{
	height:50px;
	line-height:50px;
	width:100%;
	border-bottom:1px solid #E4E4E4;
	padding:0px 20px;
	font-size:inherit;
	position:absolute;
	top:0;
	left:0;
}
.left-content{
	width:100%;
	height:100%;
	padding:55px 15px 20px;
}
.left-content ul{
	list-style:none;
}
.left-content ul li{
	line-height:40px;
	background:#F2F2F2;
	border:1px solid #E4E4E4;
	padding:0px 5px;
	margin:10px 0px;
	cursor:pointer;
	overflow:hidden;
	font-size:14px;
}
.left-content ul li.active{
	background:#EDF3FF;
	border:1px solid #B2CBFE;
}
.classType i{
	font-style: normal;
	float:right;
	margin-top: 14px;
	color:#F2F2F2;
}
.left-content ul li.active i{
	color:#333;
}

.left-title .fa{
	color:#FFCC00;
	font-size:18px;
}
.right_content{
	position:absolute;
	left:256px;
	right:0px;
	height:100%;
	padding:0px 30px;
}
.filterBox{
	position:absolute;
	top:15px;
	width:100%;
	height:42px;
}
.gridBox{
	width:100%;
	height:100%;
	padding-top:62px;
}
.searchAll{
	/* display:none; */
	margin-left:10px;
	font-size:15px;
}
.searchwrap{
	display:none;
	padding:20px 10px;
	width:470px;
	position:absolute;
	top:64px;
	right:20px;
	border:1px solid #C9C9C9;
	background:#fff;
	z-index:9999;
}
.searchwrap .control-label{
	width:64px;
	display:inline-block;
	text-align:right;
	float: left;
	margin-right:10px;
	margin-top: 6px;
}
.caozuo{
	width:100%;
	overflow:hidden;
	text-align:center;
}
.caozuo .btn1 {
	padding:5px 0px;
    width: 80px;
    background: #6699FF;
    border: none;
    color: #fff;
    border-radius:4px!important;
}

.table-advance tbody tr {
	height:70px;
	overflow:hidden;
} 
.dot{
	display: inline-block;
	position: relative;
	top: -9px;
	left: 2px;
	width: 8px;
	height: 8px;
	background-color: #ff0000;
	border-radius: 5px !important;
}

.addimg{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}
.titleimg{
	position: absolute;
	left: 30%;
	top: -10px;
	transform:rotate(-15deg);
}

