html,
body {
	width: 100%;
	height: 100%;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

ul,
p {
	margin: 0;
	padding: 0;
}
.contentsearch {
	float: right;
	width: 30%;
	position: relative;
}

.contentsearch input {
	height: 34px;
	line-height: 34px;
	width: 100%;
	border-radius: 20px!important;
	outline: none;
	border: none;
	border: 1px solid #4182D2;
	padding: 0px 30px;
	color: #ccc;
}

.contentsearch .search {
	position: absolute;
	color: #4182D2;
	right: 12px;
	top: 10px;
	cursor: pointer;
}

.BlueBor{
	border: 1px solid #76ACEF;	
}
.TreeTitle{
	line-height: 45px;
	padding-left: 20px;
	color: #3399FF;
	font-size: 17px;
	background-color: #E1F0FE;
	border-bottom: 1px solid #76ACEF;
}
.related li{
	height:24px;
	line-height:24px;
}
.related a{
	display:block;
	padding:1px 3px;
	color:#333;
	font-size:17px;
	cursor:default;
}
.related a > span:first-child{
	display:inline-block;
	max-width: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.related a i{
	color:#666;
	cursor:pointer;
}
.related a:hover i:hover{
	color:#3399FF;
}