html,body{background-color:#1B3163;height:100%;position:relative;}
body{overflow:auto;}
.layout-top{width: 100%;height: 55px;position: absolute;top: 0;left: 0;display:none;}
 .top-right-ckbtn{padding-top:9px;float: right;padding-right:10px;}
.right-label.active{background:#243B6D!important;color:#6699FF!important;border:1px solid #6699FF;}
.right-label{background:#6699FF!important;color:#fff!important;border:1px solid #6699FF;}
.label1{border-radius:5px 0 0 5px!important;}
.label2{border-radius:0 5px 5px 0!important;} 

.layout-main{width: 100%;position: absolute;top: 55px;left: 0;bottom: 0;}
.wh100{width:100%;height:100%;position:relative;}
.newlayout-cont{padding-left:20px;padding-right:5px;width:100%;height:100%;position:relative;background: -moz-linear-gradient(#0E1241,#2870DE);background: -webkit-linear-gradient(#0E1241,#2870DE);}
.bgimg{width:100%;height:100%;position:absolute;top:0;left:0;}
.newlayout-top{width:100%;height:80px;position:absolute;top:0;left:0;}
.newlayout-cent{width:100%;position:absolute;top:80px;left:0;bottom:0;}
.cent-top{width:100%;height:90px;position:absolute;top:0;left:0;padding-top:10px;}
.cent-cent{width:100%;position:absolute;top:90px;left:0;bottom:0;}
.top-title{width:400px;margin:0 auto;height:70px;text-align:center;}
.top-view{float:left;width:16.66%;height:67px;padding-right:15px;}
.top-view-cont{width:100%;height:100%;border:1px solid #A4B0FC;border-radius:7px!important;box-shadow:0 0 10px 0px #7586F0;text-align:center;}
.top-view-inner{display:inline-block;line-height:67px;display:table;margin:0 auto;}
.top-view-cont .font1{float:left;font-size:20px;color:#fff;padding-right:10px;}
.top-view-cont .font2{float:left;font-weight:bold;font-size:30px;color:#FFC65F;}
.top-view2 .font2{float:left;font-weight:bold;font-size:30px;color:#BFE8FC;}
.top-view3 .font2{float:left;font-weight:bold;font-size:30px;color:#FD5650;}
.newpanel{float:left;padding-right:15px;padding-bottom:15px;width: 30%;height:50%;position:relative;}
.newpanel-cont{width:100%;height:100%;background-color:#0C195D;background-color: rgba(0,0,0,0.2);border-radius:7px!important;box-shadow:0 0 10px 0px #535E9E inset;border:1px solid #5B70C9;position:relative;}
.newpanel-top{width:100%;height:70px;position: absolute;top:0;left:0;text-align:center;}
.newpanel-top-title{display:inline-block;line-height:50px;border-radius:0 0 20px 20px!important;font-weight:bold;padding-left:50px;padding-right:50px;
					border:1px solid #536BC5;border-top:none;box-shadow:0 0 10px 0px #535E9E;margin:0 auto;font-size:20px;color:#66CBFF;}
.newpanel-cent{width:100%;position:absolute;top:70px;left:0;bottom:0;}
.newpanel-cent-top{width:100%;height:40px;position:absolute;top:0;left:0;text-align:center;}
.newpanel-cent-cent{width:100%;position:absolute;top:40px;left:0;bottom:0;padding:20px;}
.newpanel-cent-inner{width:100%;height:100%;border:1px solid #5B70C9;}
.bs-select{width:80%!important;background:transparent;}
.bs-select,.bs-select .btn{height:50px;}
.bs-select .btn{font-size:18px;border-radius:7px!important;border:1px solid #5761A8;background-color: transparent;color:#66CBFF;}
.bs-select.open .btn-primary.dropdown-toggle { color: #66CBFF;background-color: transparent;border-color: #5761A8;}
.bs-select.open > .dropdown-toggle.btn-primary:hover { color: #66CBFF;background-color: transparent;border-color: #5761A8;}
.bs-select .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { color: #66CBFF;background-color: transparent;}
.bs-select .dropdown-menu{background-color:#0E195B;border:1px solid #5761A8;}
.bs-select .dropdown-menu li > a {color: #fff;}
.newtable{width:100%;}
.newtable th{color:#87A8ED;font-size:18px;text-align:center;font-weight: inherit;height:50px;background:#293370;}
.newtable td{color:#fff;font-size:16px;text-align:center;font-weight: inherit;height:50px;}
.newtable tr:nth-of-type(2n) {background-color: #2E3778;}
.th1{width:50px;}
.newtable tr:hover{background:rgba(0,255,255,0.1);}
.newtable2{width:100%;}
.newtable2 th{color:#87A8ED;font-size:18px;text-align:center;font-weight: inherit;height:36px;background:#293370;}
.newtable2 td{color:#fff;font-size:16px;text-align:center;font-weight: inherit;height: 26px;}
.newtable2 tr:nth-of-type(2n) {background-color: #2E3778;}
.newtable2 .th1{width:30px;}
.newdate2{width:80%;margin:0 auto;background:transparent;}
.newdate2 input{height:40px;background:transparent;color:#66CBFF!important;font-size:18px;}
.newdate2 input:nth-child(1){border:1px solid #5761A8;border-radius:7px 0 0 7px!important;border-right:none;padding-right:0;}
.newdate2 span:nth-child(2){border-top:1px solid #5761A8;border-bottom:1px solid #5761A8;background:transparent;color:#66CBFF;text-shadow: none;min-width:30px;}
.newdate2 input:nth-child(3){border:1px solid #5761A8;border-radius:0 7px 7px 0!important;border-left:none;padding-left:0;}
.newtable2 a{color:#fff;text-decoration:none;}