html,body{background:#2E4A83;height:100%;}
.wh100{width:100%;height:100%;position:relative;}
.newlayout-top{width:100%;height:55px;position: absolute;top:0;left:0;background-color:#193062;padding-left:20px;padding-right:10px;}
.newlayout-cent{width:100%;position: absolute;top:55px;left:0;bottom:0;}
.top-left{float:left;margin-right:10px;}
.top-title{line-height:55px;font-size:22px;color:#fff;font-weight:bold;}
.top-title .fa{font-size:25px;}

.top-right{float:right;margin-left:10px;}
.top-right-search{padding-top:7px;}
.top-right-search input{height:40px;border-radius:5px!important;background:#5C6D91;border:none;color:#fff;width:300px;padding-right:50px!important;}
.top-right-search .fa-search{font-size:25px;color:#6699FF;margin-right:10px;cursor:pointer;}
.top-right-ckbtn{padding-top:10px;}
.right-label.active{background:#243B6D!important;color:#6699FF!important;border:1px solid #6699FF;}
.right-label{background:#6699FF!important;color:#fff!important;border:1px solid #6699FF;}
.label1{border-radius:5px 0 0 5px!important;}
.label2{border-radius:0 5px 5px 0!important;}

.cent-left{width:280px;height:100%;position:absolute;top:0;left:0;border-right:1px solid #546A9B;}
.cent-right{height:100%;position:absolute;top:0;left:280px;right:0;}

.left-top{width:100%;height:50px;position:absolute;top:0;left:0;padding-left:20px;border-bottom:1px solid #546A9B;}
.left-top-left{float:left;margin-right:10px;}
.left-top-title{line-height:50px;font-size:16px;color:#fff;}
.left-top-title .fa{font-size:20px;margin-right:5px;}
.left-cent{width:100%;position:absolute;top:50px;left:0;bottom:0;}
.menu{list-style:none;padding:0;margin:0;}
.menu li{display:block;padding:0;margin:0;margin-bottom:10px;}
.menu li>a{height:40px;line-height:40px;display:block;padding:0 10px;position:relative;color:#fff;background:#1E376E;font-size:16px;}
.menu li.active a,.menu li a:hover{background:#6699FF;}
.menu li>a>i{position:absolute;top:15px;right:5px;}
.menu li>a font{float:left;}
.menu li>a font:nth-child(2){max-width:190px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.right-top{width:100%;height:65px;position:absolute;top:0;left:0;padding-left:20px;padding-right:10px;}
.right-cent{width:100%;position:absolute;top:65px;left:0;bottom:0;padding:0 10px 10px 10px;}
.right-top-left{float:left;margin-right:10px;}
.right-title{line-height:65px;font-size:22px;color:#fff;}
.right-top-right{float:right;margin-left:10px;}
.right-btn-group{line-height:65px;}
.right-btn{border-radius:5px!important;font-size:16px;background:#6699FF;}

.table-advance thead tr th {background-color: #193062;font-size: 16px;font-weight: 400;color: #C6CBD8;}
.table-bordered {border:none;}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {border:none;}
.table-striped > tbody > tr:nth-of-type(2n+1) {background-color: transparent;}

#gridcont_content,#gridcont_tablepage{background-color:transparent!important;}
#gridcont_content td{font-size:16px;color:#fff;padding:0;padding-top:10px;padding-bottom:10px;text-align:left;padding-left:10px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#gridcont_tablepage1{display:none;}
#gridcont_tablepage2 .pagination > li > a{background:transparent;margin-left:10px;color:#fff;}
#gridcont_tablepage2 .pagination .active > a,#gridcont_tablepage2  .pagination .active > a:hover {background: #6699FF;border-color: #6699FF;}
.table-striped > tbody > tr{background:transparent!important;}

.table-button1{background:#6699FF;width:100px;padding:5px 10px;}
.table-button2{background:#67779C;width:100px;padding:5px 10px;}
.table-button3{border:1px solid #33CCFF;background:transparent;width:100px;padding:5px 10px;color:#33CCFF;}
.table-label{background:#FFCC00;padding:0 5px;color:#000;margin-right:5px;}
.table-label2{background:red;padding:0 5px;color:#fff;margin-right:5px;}

.modal-header {background-color: transparent;}
.modal-content{padding:20px;background:#243758;border:1px solid #515F78;border-radius:5px!important;}
.modal-backdrop{display:none;}
.modal-title{color:#fff;font-size:20px;font-weight:bold;}
.close {width:20px;height:20px;opacity: 1;background-image: url("../image/close.png") !important;}
.modal .modal-header {border-bottom: 1px solid #515F78;}

.modal .form-group label{color:#fff;font-size:18px;margin-bottom:10px;}
.modal-body form{padding-top:30px;padding-bottom:30px;}
.modal .form-actions{text-align:center;}
.form-button{border-radius:5px!important;background:#6699FF;min-width:100px;}

.newpanel{width:100%;text-align:left;padding-bottom:10px;}
.newpanel-top{padding-bottom:10px;}
.newpanel-top-left{font-size:18px;color:#C7CCD9}
.newpanel-top-title1{padding:0 10px;background:#1A3162;color:#fff;}
.newpanel-cent{background:#2E477B;background-color:rgba(0,0,0,0.1);}
.newpanel table{width:100%;table-layout:fixed;}
.newpanel table thead th{background:#1F3667;padding:8px 10px;font-size:16px;color:#C7CCD9;}
.newpanel table tbody td{padding:12px 10px;font-size:16px;color:#fff;}
.newpanel-cent-cont{padding:10px 30px;border-top:1px solid #6578A0;}
.newpanel-cent-cont-left{float:right;}
.newpanel-cent-cont-right{margin-right:120px;color:#fff;}
.newpanel-button1{border:1px solid #fff;background: #5C6B92;font-size:18px;color: #66CCFF;font-weight:bold;}
.newpanel-font1{font-size:16px;color:#C7CCD9;padding-top:10px;}
.nc-left-top{}
.nc-left-top-title{padding:10px 0;font-size:16px;}
.nc-left-cent{}
.nc-left-group{display:table;width:100%;padding:10px 0;}
.nc-left-group-cont{float:left;width:25%;padding-right:20px;margin-bottom:20px;}
.nc-left-group-cont-top{font-size:16px;color:#C7CCD9;padding-bottom:10px;}
.nc-left-group-cont-cont{font-size:18px;color:#fff;font-weight:bold;max-height:100px;white-space: initial;}
.right-search{color:#fff;padding-top:10px;}
.right-search .radio-list{padding:10px;border-radius:10px!important;border:1px solid #6578A0;}