html,body{background:#2E4A83;height:100%;}
.wh100{width:100%;height:100%;position:relative;}
.newlayout-top{width:100%;height:55px;position: absolute;top:0;left:0;background-color:#193062;padding-left:20px;}
.newlayout-cent{width:100%;position: absolute;top:55px;left:0;bottom:0;}
.top-left{float:left;margin-right:10px;}
.top-title{line-height:55px;font-size:22px;color:#fff;font-weight:bold;text-decoration: none;}
.top-title:hover{color:#fff;}
.top-title .fa{font-size:25px;}
.top-title:hover .fa{color:#fff;}
.cent-left{width:280px;height:100%;position:absolute;top:0;left:0;border-right:1px solid #546A9B;}
.cent-right{height:100%;position:absolute;top:0;left:280px;right:0;}

.left-top{width:100%;height:50px;position:absolute;top:0;left:0;padding-left:20px;border-bottom:1px solid #546A9B;}
.left-top-left{float:left;margin-right:10px;}
.left-top-title{line-height:50px;font-size:16px;color:#fff;}
.left-top-title .fa{font-size:20px;margin-right:5px;}
.left-cent{width:100%;position:absolute;top:50px;left:0;bottom:0;}
.menu{list-style:none;padding:0;margin:0;}
.menu li{display:block;padding:0;margin:0;margin-bottom:10px;}
.menu li>a{height:40px;line-height:40px;display:block;padding:0 10px;position:relative;color:#fff;background:#1E376E;font-size:16px;}
.menu li.active a,.menu li a:hover{background:#6699FF;}
.menu li>a>i{position:absolute;top:15px;right:5px;}
.menu li>a font{float:left;}
.menu li>a font:nth-child(2){max-width:190px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.right-top{width:100%;height:65px;position:absolute;top:0;left:0;padding-left:20px;padding-right:10px;}
.right-cent{width:100%;position:absolute;top:65px;left:0;bottom:0;padding:0 10px 10px 10px;}
.right-top-left{float:left;margin-right:10px;}
.right-title{line-height:65px;font-size:22px;color:#fff;}
.right-top-right{float:right;margin-left:10px;}
.right-btn-group{line-height:65px;}
.right-btn{border-radius:5px!important;font-size:16px;background:#6699FF;}

.table-advance thead tr th {background-color: #193062;font-size: 16px;font-weight: 400;color: #C6CBD8;}
.table-bordered {border:none;}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {border:none;}
.table-striped > tbody > tr:nth-of-type(2n+1) {background-color: transparent;}
#gridcont_content,#gridcont_tablepage{background-color:#243D74!important;}
#gridcont_content td{font-size:16px;color:#fff;padding:15px 8px;}
#gridcont_tablepage1{display:none;}
#gridcont_tablepage2 .pagination > li > a{background:transparent;margin-left:10px;color:#fff;}
#gridcont_tablepage2 .pagination .active > a,#gridcont_tablepage2  .pagination .active > a:hover {background: #6699FF;border-color: #6699FF;}
.table-striped > tbody > tr{background:transparent!important;border-bottom:1px solid #5E719B;}

.table-button1{background:#6699FF;width:100px;padding:5px 10px;}
.table-button2{background:#67779C;width:100px;padding:5px 10px;}
.table-button3{border:1px solid #33CCFF;background:transparent;width:100px;padding:5px 10px;color:#33CCFF;}
.table-label{background:#FFCC00;padding:0 5px;color:#000;margin-right:5px;}
.table-label2{background:red;padding:0 5px;color:#fff;margin-right:5px;}

.modal-header {background-color: transparent;}
.modal-content{padding:20px;background:#243758;border:1px solid #515F78;border-radius:5px!important;}
.modal-backdrop{display:none;}
.modal-title{color:#fff;font-size:20px;font-weight:bold;}
.close {width:20px;height:20px;opacity: 1;background-image: url("../image/close.png") !important;}
.modal .modal-header {border-bottom: 1px solid #515F78;}

.modal .form-group label{color:#fff;font-size:18px;margin-bottom:10px;}
.modal-body form{padding-top:30px;padding-bottom:30px;}
.modal .form-actions{text-align:center;}
.form-button{border-radius:5px!important;background:#6699FF;min-width:100px;}