html,
body {
	width: 100%;
	height: 100%;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
	font-size:16px;
}

* {
	box-sizing: border-box;
}
.newstyle2{
	position:absolute;
	top:0px;bottom:50px;left:0;
	width:100%;
	overflow: hidden;
}

.newstyle5{
	position:absolute;
	bottom:0;left:0;
	width:100%;
	height:50px;
	text-align: center;
	padding-top: 14px;
}
.record{
	overflow:hidden;
	padding:5px 10px;
	border-bottom:1px dashed #ccc;
}
.record div{
	line-height:30px;
}
.line1{
	color:#999;
}
.psDate{
	margin-left:15px;
}