<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8"/>
	<title></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link rel="stylesheet" type="text/css"  href="../../../../../assets/global/plugins/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css"  href="../../../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css"/>
	<link rel="stylesheet" type="text/css"  href="../../../../../assets/global/plugins/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css"  href="../../../../../assets/global/plugins/uniform/css/uniform.default.css"/>
	<link rel="stylesheet" type="text/css"  href="../../../../../assets/global/plugins/jstree/dist/themes/default/style.min.css" />
	<link rel="stylesheet" type="text/css"  href="../../../../../assets/global/css/components.css" id="style_components"/>
	<link rel="stylesheet" type="text/css"  href="../../../../../assets/global/css/plugins.css"/>
	<link rel="stylesheet" type="text/css"  href="../../../common/css/common.css"/>
	<link rel="stylesheet" type="text/css"  href="../css/editDialog.css"/>
</head>
<body>
	<div class="pr100">
		<div class="newstyle2"> 
		
			<div style = "width:100%;height:100%;position:relative;" >
				
				<div style="width:100%;height:50px;position:absolute;top:0;left:0;" >
					
					<div style="float:right;line-height:50px;" >
					
						<div class="btn-group" id="button1">
						    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" >
						    	本次提交状态：<font>办理中</font>
						    </button>
						    <ul class="dropdown-menu" role="menu">
						        <li>
						            <a href="javascript:;" data="1" >办理中</a>
						        </li>
						        <li>
						            <a href="javascript:;" data="2" >办结</a>
						        </li>
						        <li>
						            <a href="javascript:;" data="3" >常态落实</a>
						        </li>
						    </ul>
						</div>

					</div>
					
				</div>
				
				
				<div style="width:100%;height:100%;position:absolute;top:50px;left:0px;bottom:0;" >
					
					<div class="pr100">
						<textarea class="opinionContent" id="replyContent" maxlength="500" ></textarea>
					</div>
				
				</div>
				
				
			</div>
			

		</div>
		<div class="newstyle5">
			<button class="btn btn-primary"  id="sure">确定</button>
			<button class="btn btn-default"  id="close">取消</button>
		</div>
	</div>
	<script type="text/javascript" src="../../../../../assets/global/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../../../../../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../../../../assets/global/plugins/uniform/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="../../../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" ></script>
	<script type="text/javascript" src="../../../../../assets/global/scripts/metronic.js"></script>
	<script type="text/javascript" src="../../../../../assets/global/plugins/jstree/dist/jstree.min.js"></script>
	<script type="text/javascript" src="../../../../../assets/admin/layout/scripts/layout.js"></script>
	<script type="text/javascript" src="../../../../../assets/admin/layout/scripts/quick-sidebar.js"></script>
	<script type="text/javascript" src="../../../../../assets/admin/layout/scripts/demo.js"></script>
	<script type="text/javascript" src="../../../../../assets/global/plugins/gridtable/gridtable.js" charset="utf-8"></script>
	<script type="text/javascript" src="../../../../../templates/admin/commons/js/commons.js"></script>
	<script type="text/javascript" src="../../../common/js/commons.js"></script>
	<script type="text/javascript" src="../../../common/js/jquery.form.js"></script>
	<script type="text/javascript" src="../js/editDialog.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			pageModule.initControl();
		});
	</script>
</body>
</html>