<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8"/>
	<title>意见收集</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/font-awesome/css/font-awesome.min.css"/>
    	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css"/>
    	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/bootstrap/css/bootstrap.min.css"/>
    	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/uniform/css/uniform.default.css"/>
    	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/css/components.css" id="style_components"/>
    	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/css/plugins.css"/>
    	<link rel="stylesheet" type="text/css" href="../../../../../assets/admin/pages/css/tasks.css"/>
    	<link rel="stylesheet" type="text/css" href="../../../../../assets/admin/layout/css/layout.css"/>
    	<link rel="stylesheet" type="text/css" href="../../../../../assets/admin/layout/css/custom.css"/>
	<link rel="stylesheet" type="text/css"  href="../../../common/css/common.css"/>
	<link rel="stylesheet" type="text/css"  href="../css/opinion.css"/>
</head>
<body>
	<div class="relativediv">
		<div style="height:100%;width:100%;padding:10px 15px 70px">
			<div class="relativediv">
				<div class="scroller" style="height:100%;">
					<div class="xbUserLine" id="xbUserLine1">承办人：<font id="cbUser"></font></div>
					<div class="xbUserLine" id="xbUserLine2">协办人：<font id="xbUser"></font></div>
					<div class="timelinesview">
		    																			
		    		</div>
				</div>
			</div>
		</div>
		<div class="footer">
    		<button type="button" class="foot_btns" id="close">关闭</button>
		</div>
	</div>
	<script type="text/javascript" src="../../../../../assets/global/plugins/jquery.min.js"></script>
   	<script type="text/javascript" src="../../../../../assets/global/plugins/jquery-migrate.min.js"></script>
   	<script type="text/javascript" src="../../../../../assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
   	<script type="text/javascript" src="../../../../../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
   	<script type="text/javascript" src="../../../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   	<script type="text/javascript" src="../../../../../assets/global/plugins/uniform/jquery.uniform.min.js"></script>
   	<script type="text/javascript" src="../../../../../assets/global/scripts/metronic.js"></script>
   	<script type="text/javascript" src="../../../../../assets/admin/layout/scripts/layout.js"></script>
   	<script type="text/javascript" src="../../../../../assets/admin/layout/scripts/quick-sidebar.js"></script>
   	<script type="text/javascript" src="../../../../../assets/admin/layout/scripts/demo.js"></script>
   	<script type="text/javascript" src="../../../../../assets/admin/pages/scripts/tasks.js"></script>
	<script type="text/javascript"src="../../../../../templates/admin/commons/js/commons.js" type="text/javascript"></script>
	<script type="text/javascript"src="../../../common/js/commons.js" type="text/javascript"></script>
	<script type="text/javascript"src="../js/opinion.js" type="text/javascript"></script>
    <script type="text/javascript">
		jQuery(document).ready(function() {
			pageModule.initControl();
		});
	</script>
</body>
</html>