<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8"/>
	<title>查看</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/uniform/css/uniform.default.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/jstree/dist/themes/default/style.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/css/components.css" id="style_components"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/jstree/dist/themes/default/style.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/clockface/css/clockface.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/css/plugins.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/admin/pages/css/tasks.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/admin/layout/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/admin/layout/css/custom.css"/>
	<link rel="stylesheet" type="text/css" href="../../../common/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../css/view.css"/>
</head>
<body>
	<div class="pr100">
		<div class="leftwrap">
			<div class="pr100">
				<div class="left_menu">
					<div class="titlecont">
						<div class="titleleft">
							<div class="facont">
								<button type="button" id="goback"  class="btn btn-xs" style="background:transparent;padding:1px 5px;"><i class="fa fa-arrow-circle-left " style="font-size: 27px!important;"></i></button>
							</div>
						</div>
						<div class="titleleft">
							<div class="titlefont">
								<font id="gwName">公文名称</font>
							</div>
						</div>
					</div>
					<div class="tabbable tabbable-tabdrop">
					    <ul class="nav nav-tabs">
					        <li class="active">
					            <a href="#tab1" data-toggle="tab">tab1tab1tab1tab1</a>
					        </li>
					        <li>
					            <a href="#tab2" data-toggle="tab">tab2</a>
					        </li>
					        <li>
					            <a href="#tab3" data-toggle="tab">tab3</a>
					        </li>
					    </ul>
					</div>
				</div>
				<div class="left_main">
					<div class="pr100">
						<div class="tabbable tabbable-tabdrop">
						    <div class="tab-content">
						        <div class="tab-pane active" id="tab1">
						            <p>
						                 111111111
						            </p>
						        </div>
						        <div class="tab-pane" id="tab2">
						            <p>
						                 22222222222
						            </p>
						        </div>
						        <div class="tab-pane" id="tab3">
						            <p>
						                 3333333333333
						            </p>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rightwrap">
			<div class="pr100">
				<div class="right_menu">
					<div class="tabbable-line">
					    <ul class="nav nav-tabs">
					        <li class="active">
					            <a href="#tab_15_1" data-toggle="tab">文件列表</a>
					        </li>
					        <li>
					            <a href="#tab_15_2" data-toggle="tab">办理反馈</a>
					        </li>
					        <li>
					            <a href="#tab_15_3" data-toggle="tab">文件转办</a>
					        </li>
					    </ul>
					</div>
				</div>
				<div class="right_main">
					<div class="pr100">
						<div class="tabbable-line wh100">
					    	<div class="tab-content wh100" style="padding:0px!important">
						        <div class="tab-pane active" id="tab_15_1">
						            <div class="scroller right_top" style="padding: 0px 20px">
						            	<div class="commonHtml">
						            	</div>
						            	<ul class="line4">
					            			<li><a>附件</a></li>
					            			<li><a>十九大学习报告.wps</a></li>
					            			<li><a>十九大学习报告.wps</a></li>
					            			<li><a>十九大学习报告.wps</a></li>
					            			<li><a>十九大学习报告.wps</a></li>
					            		</ul>
						            </div>
						        </div>
						        <div class="tab-pane" id="tab_15_2">
						        	<div class="pr100">
						        		<div class="blfk_top">
						        			<div class="scroller"  style="padding: 0px 20px">
						        				<div class="commonHtml">
								            	</div>
								            	<div class="timelinesview">
			    																			
			    								</div>
						        			</div>
							            	
						            	</div>
						            	<div class="blfk_bottom">
						            		<div class="pr100">
												<div class="sryj_title">输入意见/反馈：</div>
							        			<div class="sryj_center">
							        				<textarea class="opinionContent" placeholder="此处填写办理进度供部内审议" id="opinionContent" maxlength="500"></textarea>
							        			</div>
							        			<div class="sryj_footer">
							        				<button type="button" id="tijiao">提交草稿</button>
							        				<button type="button" id="clear">取消</button>
							        			</div>
						            		</div>
						            	</div>
						        	</div>
						        </div>
						        <div class="tab-pane" id="tab_15_3">
						        	<div class="pr100">
							            <div class="right_top right_top_zbjl">
							            	<div class="pr100">
							            		<div class="part_zbjl_top">
									            	<div class="tabbable-line">
													    <ul class="nav nav-tabs" style="padding-left:15px;border-bottom: 1px solid #ddd;">
													        <li class="active">
													            <a href="#tab_16_1" data-toggle="tab">转办记录</a>
													        </li>
													        <li>
													            <a href="#tab_16_2" data-toggle="tab">催办记录</a>
													        </li>
													        <li>
													            <a href="#tab_16_3" data-toggle="tab">办结记录</a>
													        </li>
													    </ul>
													</div>
												</div>
												<div class="part_zbjl_main">
									            	<div class="pr100">
									            		<div class="tabbable-line wh100">
													    	<div class="tab-content wh100" style="padding:0px!important;border:none;">
														        <div class="tab-pane active" id="tab_16_1">
														        	<div class="scroller" style="padding:10px 20px">
														        		<div class="zbrecord" id="zbrecord">
																            <div class="record">
																            	<label class="zbUser">转办人:</label>
																            	<div><span>李雪</span><span class="zbDate">2019-04-05 18:20:50</span></div>
																            	<label class="cbdw">承办单位/人:</label>
																            	<div>信息局，绿化局</div>
																            </div>
																            <div class="record">
																            	<label class="zbUser">转办人:</label>
																            	<div><span>李雪</span><span class="zbDate">2019-04-05 18:20:50</span></div>
																            	<label class="cbdw">承办单位/人:</label>
																            	<div>信息局，绿化局</div>
																            </div>
																            <div class="record">
																            	<label class="zbUser">转办人:</label>
																            	<div><span>李雪</span><span class="zbDate">2019-04-05 18:20:50</span></div>
																            	<label class="cbdw">承办单位/人:</label>
																            	<div>信息局，绿化局</div>
																            </div>
																         </div>
															        </div>
														        </div>
														        <div class="tab-pane" id="tab_16_2">
														           <div class="scroller" style="padding:10px 20px">
														           		<div class="cbrecord" id="cbrecord">
																            <div class="record">
																            	<label class="zbUser">催办人:</label>
																            	<div><span>李雪</span><span class="cbDate">2019-04-05 18:20:50</span></div>
																            	<label class="cbdw">催办留言:</label>
																            	<div>催办留言催办留言催办留言催办留言催办留言催办留言催办留言催办留言催办留言</div>
																            	<label class="xiangy">承办人响应:</label>
																            	<div><span>李雪</span><span class="cbDate">2019-04-05 18:20:50</span><span class="xycontent">承办人响应承办人响应</span></div>
																            </div>
																            <div class="record">
																            	<label class="zbUser">催办人:</label>
																            	<div><span>李雪</span><span class="cbDate">2019-04-05 18:20:50</span></div>
																            	<label class="cbdw">催办留言:</label>
																            	<div>催办留言催办留言催办留言催办留言催办留言催办留言催办留言催办留言催办留言</div>
																            	<label class="xiangy">承办人响应:</label>
																            	<div><span>李雪</span><span class="cbDate">2019-04-05 18:20:50</span><span class="xycontent">承办人响应承办人响应</span></div>
																            </div>
																        </div>
															        </div>
														        </div>
														        <div class="tab-pane" id="tab_16_3">
														        	<div class="scroller" style="padding:10px 20px">
															            <div class="jybjrecord" id="jybjrecord">
																            <div class="record">
																            	<div><span>信息局</span><span class="bjuser">李明亮</span></div>
																            	<div><span>建议办结</span><span class="bjDate">2019-04-05 18:20:50</span></div>
																            </div>
																            <div class="record">
																            	<div><span>信息局</span><span class="bjuser">李明亮</span></div>
																            	<div><span>建议办结</span><span class="bjDate">2019-04-05 18:20:50</span></div>
																            </div>
																         </div>
															        </div>
														        </div>
													        </div>
													    </div>
									            	</div>
												</div>
											</div>
							            </div>
							            <div class="right_zbjl">
							            	<button class="doBtns" type="button" id="chengban">承办</button>
							            	<button class="doBtns" type="button" id="banjie">办结</button>
							            	<button class="doBtns" type="button" id="luoshi">常态落实</button>
							            	<button class="doBtns" type="button" id="zhuanban">转办</button>
							            </div>
							        </div>
						        </div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="../../../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/gridtable/gridtable2.js"></script>
<script src="../../../../../assets/global/plugins/jstree/dist/jstree.min.js"></script>
<script src="../../../../../assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js" type="text/javascript"></script>

<script src="../../../../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-validation/js/additional-methods.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-validation/js/localization/messages_zh.js" type="text/javascript"></script>
	
<script src="../../../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../../../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../../../../../assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="../../../../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="../../../../../assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
<script src="../../../../../templates/admin/commons/js/commons.js" type="text/javascript"></script>
<script src="../../../common/js/commons.js" type="text/javascript"></script>
<script src="../js/view.js" type="text/javascript"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		pageModule.initControl();
	});
</script>
</body>
</html>