<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8"/>
	<title>查看</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/uniform/css/uniform.default.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/jstree/dist/themes/default/style.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/css/components.css" id="style_components"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/jstree/dist/themes/default/style.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/css/plugins.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/admin/pages/css/tasks.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/admin/layout/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/admin/layout/css/custom.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/easyui2/themes/bootstrap/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/easyui2/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="../../../../../assets/global/plugins/easyui2/demo/demo.css" />
	<link rel="stylesheet" type="text/css" href="../../../common/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../css/view.css"/>
</head>
<body>
	<div class="pr100">
		<div class="leftwrap">
			<div class="pr100">
				<div class="left_menu">
					<div class="titlecont">
						<div class="titleleft">
							<div class="facont">
								<button type="button" id="goback"  class="btn btn-xs" style="background:transparent;padding:1px 5px;"><i class="fa fa-arrow-circle-left " style="font-size: 27px!important;"></i></button>
							</div>
						</div>
						<div class="titleleft">
							<div class="titlefont">
								<font id="gwName">公文名称</font>
							</div>
						</div>
					</div>
					<div id="ttcont">
					</div>
				</div>
				<div class="left_main">
					<div class="pr100">
						<div id="suwell" class="wh100">
							<!-- 这里放版式插件 -->
						</div>
						<object id="csseOfficeplugin" type="application/x-csse" width="0px" height="0px" ></object>
					</div>
				</div>
			</div>
		</div>
		<div class="rightwrap">
			<div class="pr100">
				<div class="right_menu">
					<div class="tabbable-line">
					    <ul class="nav nav-tabs">
					        <li class="active">
					            <a href="#tab_15_1" data-toggle="tab">文件列表</a>
					        </li>
					        <li>
					            <a href="#tab_15_2" data-toggle="tab">办理反馈</a>
					        </li>
					        <li>
					            <a href="#tab_15_3" data-toggle="tab">文件转办</a>
					        </li>
					    </ul>
					</div>
				</div>
				<div class="right_main">
					<div class="pr100">
						<div class="tabbable-line wh100">
					    	<div class="tab-content wh100" style="padding:0px!important">
						        <div class="tab-pane active" id="tab_15_1">
						            <div class="scroller right_top" style="padding: 0px 20px">
						            	<div class="commonHtml">
						            	</div>
						            	<div class="line3"></div>
						            	<div class="wjlb_title">附件</div>
						            	<ul class="line4" id="fjList">
					            		</ul>
						            </div>
						        </div>
						        <div class="tab-pane" id="tab_15_2" style="position: relative;">
						        	<!-- 判断是否有催办内容 -->
						        	<div id="ifcuibanContent" class="ifcuibanContent">
						        		
						        	</div>
						        	<div class="blfkchangeH" style="overflow:hidden;">
							        	<div class="pr100">
							        		<div class="blfk_top">
							        			<div class="scroller"  style="padding: 0px 20px">
							        				<div class="commonHtml">
									            	</div>
									            	<div class="line3"></div>
									            	<div class="timelinesview">
														<div class="pagemenu">
														</div>
				    								</div>
							        			</div>
							            	</div>
							            	<div class="ifShow blfk_bottom">
							            		<div class="pr100">
							            			<form action="" class="pr100" id="commentForm" method="post" enctype="multipart/form-data">
							            				<input type="hidden" id="editRecordId" name="editRecordId" /><!-- 编辑的附件id -->
							            				<input type="hidden" id="editTeamId" name="editTeamId" /><!-- 编辑的反馈的teamId -->
														<div class="sryj_title">输入意见/反馈：</div>
									        			<div class="sryj_center">
									        				<textarea class="opinionContent" id="replyContent" maxlength="500" placeholder="此处填写办理进度供部内审议" ></textarea>
									        			</div>
									        			<div class="sryj_footer">
									        				<button type="button" class="ifShow" id="sptg">审批通过</button>
									        				<button type="button" class="ifShow" id="fhxg">返回修改</button>
									        				<button type="button" class="ifShow" id="tijiao">送审批</button>
									        				<button type="button" class="ifShow" id="save">保存</button>
									        				<button type="button" id="clear">清屏</button>
									        				<div class="ifShow" id="ifaddfj" style="display:inline-block;vertical-align: top;margin-right: 20px;margin-top: 6px;float:right;">
																<a class="filebutton addfjbtn" id="file1"><i class="fa fa-link"></i> 添加附件 </a>
												                <div class="filelist"  name="file1">附件列表:</div>
									        				</div>
									        				<button type="button" class="ifShow showfj" id="showfj">附件</button>
									        			</div>
								        			</form>
							            		</div>
							            	</div>
							        	</div>
						        	</div>
						        </div>
						        <div class="tab-pane" id="tab_15_3">
						        	<div class="pr100">
							            <div class="right_top right_top_zbjl">
							            	<div class="pr100">
							            		<div class="part_zbjl_top">
									            	<div class="tabbable-line">
													    <ul class="nav nav-tabs" style="padding-left:20px;border-bottom: 1px solid #ddd;">
													        <li class="active">
													            <a href="#tab_16_1" data-toggle="tab">转办记录</a>
													        </li>
													        <li>
													            <a href="#tab_16_2" data-toggle="tab">催办记录</a>
													        </li>
													        <li>
													            <a href="#tab_16_3" data-toggle="tab">办结记录</a>
													        </li>
													    </ul>
													</div>
												</div>
												<div class="part_zbjl_main">
									            	<div class="pr100">
									            		<div class="tabbable-line wh100">
													    	<div class="tab-content wh100" style="padding:0px!important;border:none;">
														        <div class="tab-pane active" id="tab_16_1">
														        	<div class="scroller" style="padding:10px 20px">
														        		<div class="zbrecord" id="zbrecord">
																         </div>
															        </div>
														        </div>
														        <div class="tab-pane" id="tab_16_2">
														           <div class="scroller" style="padding:10px 20px">
														           		<div class="cbrecord" id="cbrecord">
																        </div>
															        </div>
														        </div>
														        <div class="tab-pane" id="tab_16_3">
														        	<div class="scroller" style="padding:10px 20px">
															            <div class="jybjrecord" id="jybjrecord">
																         </div>
															        </div>
														        </div>
													        </div>
													    </div>
									            	</div>
												</div>
											</div>
							            </div>
							            <div class="ifShow right_zbjl">
							            	<button class="ifShow doBtns" type="button" id="chengban">承办</button>
							            	<button class="ifShow doBtns" type="button" id="banjie">办结</button>
							            	<button class="ifShow doBtns" type="button" id="luoshi">常态落实</button>
							            	<button class="ifShow doBtns" type="button" id="zhuanban">转办</button>
							            </div>
							        </div>
						        </div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	<div class="modal fade in newmodal cjDialog" id="viewcont" tabindex="-1" aria-hidden="true">
	    <div class="modal-dialog" style="width:600px">
	        <div class="modal-content">
	            <div class="modal-header">
	                <div class="newclose" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></div>
	                <h4 class="modal-title">内容</h4>
	            </div>
	            <div class="modal-body" style="height:300px;">
					<div style="height:100%;" class="scroller">
						<div class="viewcontent">
						</div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>
	
	
	
	
	
	
	
	
	
<script src="../../../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jstree/dist/jstree.min.js"></script>
<script src="../../../../../assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-validation/js/additional-methods.js" type="text/javascript"></script>
<script src="../../../../../assets/global/plugins/jquery-validation/js/localization/messages_zh.js" type="text/javascript"></script>

<script src="../../../../../assets/global/plugins/easyui2/jquery.easyui.min.js" type="text/javascript" ></script>
<script src="../../../../../assets/global/plugins/easyui2/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>	
<script src="../../../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../../../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../../../../../assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="../../../../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="../../../../../assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
<script src="../../../../../templates/admin/commons/js/commons.js" type="text/javascript"></script>
<script src="../../../../../templates/admin/commons/js/jquery.form.js" type="text/javascript" ></script>
<script src="../../../common/js/commons.js" type="text/javascript"></script>
<script src="../js/view.js" type="text/javascript"></script>

<!-- 数科插件JS -->
<script src="../../../common/suwell/suwell.js" type="text/javascript"></script>
<script src="../../../common/suwell/suwell_ofdReader.js" type="text/javascript"></script>
<script src="../../../css/js/office/csseOfficeplugin.js" type="text/javascript"></script>  

<script type="text/javascript">
	jQuery(document).ready(function() {
		pageModule.initControl();
	});
	//对本页面的可以输入的控件进行焦点重定向，此类控件包括textarea和input
	var textareaS=document.getElementsByTagName("textarea");
	for(var i=0;i<textareaS.length;i++)
	{
		$(textareaS[i]).click(function(){fixForcesBug();});
	}
	var inputS=document.getElementsByTagName("input");
	for(var i=0;i<inputS.length;i++)
	{
		$(inputS[i]).click(function(){fixForcesBug();});
	}
</script>
</body>
</html>