@charset "utf-8";
.mix-inner {
	position: relative;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
}

.mix-inner .label {
	display: inline-block;
	width: 100px;
	height: 100px;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid darkgray;
}

.plug-info {
	padding: 15px;
	height: 142px;
	background: #efefef;
}

.plug-title {
	margin-bottom: 5px;
	font-size: 17px;
}

.plug-mesg {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.plug-mesg .tag {
	float: left;
	padding: 3px 10px;
	margin-left: 10px;
	line-height: 20px;
	text-align: center;
	background: #888;
	/*border: 1px solid #2d5f8b;
	border-radius: 5px;*/
	color: #fff;
}

.plug-description {
	height: 54px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.plug-download{
	float:right;
}
