html,body{
	min-width:1366px;
	min-height:768px;
	width:100%;
	height:100%;
	background-color:#fff;
	margin:0;
	padding:0;
	font-family: "Microsoft Yahei";
	font-size: 16px; 
}
body{
    background:url("common/images/u1.png");
}
*{
	box-sizing:border-box;
}
ul{
	margin: 0;
	padding: 0;
}

.count{
	padding:2px;
	min-width:20px;
	min-height:20px;
	text-align:center;
	cursor:pointer;
	border-radius:100%!important;
	-moz-border-radius:100%!important;
	background-color:red;
	display:inline-block;
	font-size:10px;
	color:#fff;
}

/**/
.leftwrap{
	width:100px;
	height:100%;
	position:absolute;
	left: 0;
	top: 0;
	z-index: 99;
}
.leftcontent{
	width:100%;
	height:100%;
	background: #6699FF;
	z-index: 99;
	position: relative;
}
.lefthead{
	position: absolute;
	padding-top:40px;
	height:200px;
	width:100%;
	left: 0;
	top: 0;
	z-index: 999;
}
.lefthead img{
	display: block;
	margin: 0 auto;
}
.leftmenu{
	width:100%;
	height:100%;
	padding-top:200px;
	
}
.content{
	width:100%;
	height:100%;
	padding-left:100px;
}

.menuli li a{
	color: #fff;
	text-decoration: none;
	height: 100%;
    width: 100%;
    display: inline-block;
    outline:none
}

.menuli li{
	width:100%;
	height:48px;
	line-height:48px;
	text-align: center;
	font-size: 16px;
	position: relative;
}
.menuli li i{
	color:#fff;
	background-color:#FF6600;
	position: absolute;
	width: 20px;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	border-radius: 5px;
	font-family: Microsoft Yahei;
	font-style: normal;
	right:8px;
}
.menuli li .blfk_num{
	color:#fff;
	background-color:#FF6600;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	font-family: Microsoft Yahei;
	font-style: normal;
	top: 4px;
	right: 12px;
}
.menuli li:hover{
	background: #4182D2;
}

li.active{
	background-color:#527ACC;
}
.sqsm{
	background:rgba(255, 140, 140, 1);
}
.sqsmTxt{
	color:#fff;
	font-size:20px;
	text-align:center
}
.sqsmbtn{
	color:#fff;
	font-size:20px;
	text-align:center;
	border:none;
	background:none
}
.wh100{
	width:100%;height:100%;position:relative;
}
.bottomcont{
	position:absolute;width:100%;left:0;height:70px;bottom:15px;padding-top:20px;cursor:pointer;
}
.bottomimg{
	width:30px;margin:0 auto;text-align:center;padding:5px 0;
}
.bottomcont.active .bottomimg,.bottomimg:hover{
	background-color:#4182D2;border-radius:100%!important;
}
.bottomimg .fa{
	font-size:20px;color:#fff;
}
.bottomfont{
	text-align:center;
	color:#fff;
	font-size:16px;
}
.ptitle{
	text-align: center;
	color: #fff;
	margin: 0px;
	padding-top:10px;
	font-size:20px;
	font-weight:700
}
.dialog{
	left: 0;
	top: 0;
	border: 1px solid #ccc;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index:999999;
	background-color: rgba(0,0,0,.5);
}
.none{
	display: none;
}
.loding-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 25px;
}