html, body {
	background-color: #fff;
	height: 100%;
}
.newlayout1{
	width:100%;height:100%;position:relative;
}
.wg100{
	width:100%;height:100%;
}
.newlayout1_top{
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 62px;
	line-height: 62px;
	background: #EEF3FD;
	padding: 0px 30px;
}
.newlayout1_top_left{
	float:left;
}
.fhwjgl{
	cursor:pointer;
	font-size: 22px;
	font-weight: 700;
	color: #666666;
}
.fhwjgl .fa{font-size:25px;line-height:25px;}

.newlayout1_center{
	width:100%;position:absolute;top:62px;bottom:62px;padding-left:30px;padding-right:30px;
}
.newlayout1_bottom{
	width:100%;height:62px;text-align:center;position:absolute;left:0;bottom:0;padding-top:15px;
}
.newlayout1_bottom button{
	height:35px;
}
.newlayout2{
	width:100%;height:100%;
}
.newlayout2_left{
	width:49.5%;height:100%;float:left;
}
.newlayout2_right{
	width:49.5%;height:100%;float:right;
}
.newlayout3{
	width:100%;height:100%;position:relative;
}
.newlayout3_top{
	width:100%;height:50px;position:absolute;top:0;left:0;
}
.newlayout3_cont{
	width:100%;position:absolute;top:50px;bottom:0;background-color:#fff;
}
.newtitlecont{
	padding-top:20px;font-size:18px;float:left;font-weight:bold;
}
.newbuttoncont{
	padding-top:10px;float:right;margin-left:10px;
}
.wh100{width:100%;height:100%;position:relative;border: 1px dashed #ccc;}
.newlayout4{
	padding:20px;
}
.newlayout4_title{
	height:30px;
}
.newtitle1{
	float:left;font-size:17px;font-weight:bold;
}
.newtitle2{
	float:right;font-size:15px;
}

.newtable{width:100%!important;table-layout:fixed;}
.newtable tr td{padding-bottom: 10px;}
.newtable .form-control{width:100%!important;background-color:#fff;}
.form-control[readonly] {background-color: #fff!important;}
.form-control[disabled] {background-color: #eee!important;}
.newlabel{text-align:right;padding-right:10px;width:100px;font-size:16px;}
.newform .newlabel{width:100px;padding-left:10px;font-size:15px;}

.newrequired{color:red;}
.newline{border-top:1px solid #ccc;margin-top:10px;margin-bottom:10px;}

.othercont{
	display:none;
}
.zkcont{height:30px;}
.zkcont_cont{float:right;}

.zkcont_cont .zkcont_title1{}
.zkcont_cont .zkcont_title2{display:none;}
.zkcont_cont.active .zkcont_title1{display:none;}
.zkcont_cont.active .zkcont_title2{display:block;}


.newlayout5{
	padding:10px;border:1px solid #3399FF;background:#fff;margin-bottom:10px;
}
.newlayout5_top{
	height:30px;border-bottom:1px dotted #797979; 
}
.newlayout5_top_left{
	float:left;margin-right:10px;
}
.newlayout5_top_right{
	float:right;margin-left:10px;
}
.newlayout5_cont{
	
}
.clicktitle{
	height:30px;
}
.newlayout5_cont .clicktitle .fa-caret-up{display:none;}
.newlayout5_cont.active .clicktitle .fa-caret-down{display:none;}
.newlayout5_cont.active .clicktitle .fa-caret-up{display:inline-block;}

.clicktitle_left{
	float:left;padding-top:10px;cursor:pointer;
}
.clickcont{
	padding-top:10px;width:100%;
}
.newlayout5_cont .clickcont{display:none;}
.newlayout5_cont.active .clickcont{display:block;}

.clickcenter{
	display:table;width:100%;
}
.clickcont_cont1{
	padding-right:20px;float:left;width:33.3%;
}
.clickcont_cont2{
	background-color:#F2F2F2;padding:10px;
}
.control-label2{
	padding-left:0;padding-right:0;text-align:right;margin-bottom:10px;
}
.cjDialog {
    background-color: #fff;
    right: inherit;
    bottom: inherit;
}
.selecttree {
	position:relative;
}
.tabletitle {
	padding-left: 25px;
	font-size: 17px;
	border-bottom: 1px solid #ccc;
	color: #5498EB;
	line-height: 30px;
	margin-bottom: 10px;
}
.newtitlecont2{
	padding-top: 0px;
	font-size: 18px;
	float: left;
	font-weight: bold;
}

/* �Ҳ�tabҳǩ */
 .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #333;
}
.tabbable-line .nav > li > a {
    position: relative;
    display: block;
    padding: 0px 15px;
    height: 45px;
	color: #333;
	line-height: 58px;
}
.tabbable-line > .nav-tabs > li a{
	background:transparent;
	font-size:16px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #6699FF;
    position: relative;
    color:#6699FF;
}
.tabbable-line > .nav-tabs > li.active > a,.tabbable-line > .nav-tabs > li.active > a:focus,.tabbable-line > .nav-tabs > li.active > a:hover {
    color: #6699FF!important;
    cursor: pointer;
    background:transparent;
}
.tabbable-line > .nav-tabs > li a:hover{
	background:transparent;
	border-color:#6699FF;
	color:#333;
}
.tabbable-line > .tab-content{
	background:transparent;
	padding-top:10px;
}
.tabbable-line > .nav-tabs > li.open,.tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #95BEF2;
}
.cqwrap{
	overflow:hidden;
	width:100%;
	height:auto;
	border:1px solid #e5e5e5;
	background:#F7F7F7;
}
.cqbtn{
	color:#6699FF!important;
	background:none!important;
	padding:0;
}
.cqbtn:hover{
	text-decoration:underline;
}
.cqcontent{
	width:100%;
	background:#fff;
	padding:10px;
	border:none;
	resize:none;
	height:100px!important;
	font-size:14px;
	margin-top:10px;
	word-break: break-all;
	word-wrap: break-word;
}
.tableBtns1{
	border:1px solid #6699FF;
	color:#6699FF;
	background:#fff;
	float:right;
	padding:3px 5px;
	margin-top:10px;
}
.showcq{
	background:#fff;
	padding:0px 20px;
}
.cqline{
	padding:10px 0px;
	font-size:14px;
	border-bottom:1px solid #D7D7D7;
}
.showcq>.cqline:last-child{
	border-bottom:none;
}
.cqline>div:first-child{
	color:#999999;
}
.cqline>div:first-child span{
	/* margin-right:10px; */
}
.tabbable-line > .tab-content {
    border: 0;
}
.record{
	margin:10px 0px;
	border-bottom:1px dashed #ddd;
	font-size:16px;
}
.record>div{
	line-height:30px;
}
.record span{
	font-size:16px;
}
.zbDate,.xycontent,.cbDate,.bjDate{
	color:#aaa;
	margin-left:20px;
}
.cbdw,.xiangy,.zbUser{
	margin-top:10px;
}
.tab-pane{
	width:100%;
	height:100%;
}
.record_title{
	height:40px;
	line-height:40px;
	width:100%;
	border-bottom:1px solid #D7D7D7;
}
.record_title label{
	font-weight:700;
	font-size:18px;
}
.xgfileWrap{
	width:100%;
	height:42px;
	text-align:right;
}
.file_all{
	list-style:none;
}

.file_all input{
	vertical-align:middle;
	margin-top: 0px;
	cursor:pointer;
}
.file_all li>a{
	color:#333;
	font-size:16px;
}
.file_all li{
	line-height:50px;
	border-bottom:1px dashed #BCBCBC;
}
.addfjbtns{
	background: #6699FF;
	color: #fff;
	padding: 1px 4px;
	border-radius: 50% !important;
	margin-top: 5px;
}
.addfj:hover,.addfj:actived,.addfj:link,.addfj:visited{
	color:#fff;
}
.cqrq{
	margin-left:10px;
}
.cqnr {
	overflow:hidden;
	padding:10px 20px;
	vertical-align:middle;
	background:#fff;
	margin-top:10px;
}
.cqnr div{
	display:inline-block;
	float:left;
}
.cqnr label{
	font-size:14px;
	float:left;
	margin-right:10px;
	line-height: 32px;
	margin-bottom:0px!important;
}

.form-control[readonly].psszName{
	cursor:pointer!important;
}