body{background: #3F5C9A;}
.pr100{background:transparent;}
.rightwrap {background: rgba(0,0,0,0.2);border:none;}
.right_menu {background: rgba(0,0,0,0.2);}
.right_main {background-color: transparent !important;}
.leftwrap{background-color: transparent!importnat;}
.left_menu {background-color: rgba(0,0,0,0.2);}
.titlefont {font-size: 20px;color: #fff;}
.facont .fa {color: #fff;}
.tabbable-line > .tab-content {border:none;}
.tabbable-line > .nav-tabs > li.active > a, .tabbable-line > .nav-tabs > li.active > a:focus, .tabbable-line > .nav-tabs > li.active > a:hover {color: rgba(1, 204, 255, 1) !important;}
.tabbable-line > .nav-tabs > li.active {border-bottom: 4px solid rgba(1, 204, 255, 1);}
.line1,.line2,.line3 {color: #fff;}
.wjlb_title{color:#fff;}
.line4 li > a.fjactive {color: #fff;}
.line4 li > a {color: #fff;}
.timelinesview {background: transparent;}
.timeline-user>span{color:#fff!important;}
.timelinesview > .timelinesheys .timeline-content {border:none;background:#6F7B97;border-left: 5px solid #00CCCC;}
.listUser{color:#fff;}
.listContent span:first-child {color: #fff;}
.listContent > span:nth-child(2) {color: #fff;}
.listfj a {color: #fff;}
.blfk_bottom {background: rgba(255,255,255,0.1);}
.sryj_title {color:#fff;}
.right_top_zbjl .tabbable-line .nav > li > a {color: #fff;}
.right_top_zbjl .tabbable-line > .nav-tabs > li a:hover {background: transparent;border-color: #6699FF;color: #6699FF;}
.right_top_zbjl .tabbable-line > .nav-tabs > li.active > a, .right_top_zbjl .tabbable-line > .nav-tabs > li.active > a:focus, .right_top_zbjl .tabbable-line > .nav-tabs > li.active > a:hover {color: rgba(1, 204, 255, 1) !important;}
.right_top_zbjl .tabbable-line > .nav-tabs > li.active {border-bottom: 4px solid rgba(1, 204, 255, 1);}
/* .record{color:#fff;} */
.cbdw,.xiangy,.zbUser{margin-top:10px;color:#fff;font-size:16px;font-weight:700;}
.zbDate, .xycontent, .cbDate, .bjDate {color: #fff;margin-left: 20px;}

.wh100{width:100%;height:100%;position:relative;}
.newpanel-cont{padding-top:20px;background-color:rgba(255,255,255,0.2);margin-bottom:10px;border-radius:10px!important;}
.newpanel-inner{width:100%;position:relative;}
.newpanel-left{;width:50px;height:100%;position:absolute;top:0;left:0;bottom:0;}
.newpanel-left .fa-circle-o{position:absolute;top:10px;left:15px;color:#6699FF;font-size:20px;}
.newoanel-left-line{position:absolute;top:25px;left:23px;bottom:0;width:3px;background-color:#6699FF;}
.newpanel-right{margin-left:50px;margin-right:10px;}
.nrt-date{font-size:14px;color:#fff;line-height:30px;}
.newpanel-right-top{}
.newpanel-right-cent{}
.nrt-cont{border-left:6px solid #00CCCC;padding:10px;margin-bottom:10px;background-color:rgba(255,255,255,0.2);}
.nrt-cont-top{min-height:30px;}
.nrt-cont-top-left{float:left;margin-right:10px;}
.nrt-cont-top-title{font-size:16px;color:#fff;font-weight:bold;cursor:pointer;}
.nrt-cont-top-state{font-size:16px;color:#fff;font-weight:bold;}
.nrt-cont-top-title .fa{border: 1px solid rgb(255, 255, 255);border-radius: 100px;padding: 0px 2px;}
.nrt-cont-top-title2{padding-top:2px;font-size:16px;color:#eee;}
.nrt-cont-top-right{float:right;margin-left:10px;}
.nrt-cont-top-btn{font-size:14px;color:#00CCFF;}
.nrt-cont-cent{height:90px;padding-left:50px;padding-left:0;padding-right:10px;font-size:16px;color:#fff;font-weight:bold;}
.nrt-cont-cent>.wh100{height:100%;min-height:30px;}
.nrt-cont-bottom{}
.nrt-cont-file{}
.nrt-cont-file .remove{float:right;width:50px;display:none;}
.nrt-cont-file a{line-height:30px;margin-right:10px;font-size:16px;display:block;color:#eee;}
.newpanel-right-cent2{display:none;}
.newpanel-cont.active .newpanel-right-cent2{display:block;}
.newpanel-right-bottom{text-align:right;}
.newpanel-right-bottom .btn-link{color:#00CCFF;font-size:16px;}
.newpanel-right-bottom .btn-link .zhankai{display:inline-block;}
.newpanel-right-bottom .btn-link .guanbi{display:none;}
.newpanel-cont.active .btn-link .zhankai{display:none;}
.newpanel-cont.active .btn-link .guanbi{display:inline-block;}
.viewcontent{line-height:30px;font-size:16px;}
.modal.in .modal-dialog {
    transform: inherit!important;
}

.modal .form-group label{padding-left:20px;font-size:18px;margin-bottom:10px;}
.modal-body form{padding-top:10px;padding-bottom:10px;}
.modal .form-actions{text-align:center;}
.form-button{border-radius:5px!important;background:#6699FF;min-width:100px;}
.szqf{
	color:#fff;
}